@import './variables.scss';

.app-radio-group {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    line-height: 0;
    content: "";
  }
  &:after {
    clear: both;
  }
  & > div.app-radio-block:first-child{
    border-top: 1px solid $border-color;
  }
}