@import '../dao-color.scss';
$flag-size: 12px;
$flag-color: $blue;
$flag-bg: $white-light;
$stop-bg: generate-color($blue, -2);
$slider-height: 6px;
$slider-default-bg: $white-dark;
$slider-disabled-bg: generate-color($slider-default-bg, 1);
$tip-color: $grey-dark;

%width {
  width: $slider-height / 2;
}
