@import "../../../../src/components/dao-color.scss";

$font-color-dark: $black-dark;
$font-color-light: $grey-dark;
$font-size-md: 14px;
$font-size-sm: 12px;
$line-height-md: 24px;
$line-height-sm: 22px;
$line-height-xs: 20px;
$line-height-xxs: 18px;
$border: 1px solid $white-dark;
$border-radius-card-size: 4px;
$border-radius-icon-size: 3px;
$background-color-body: $white;
$background-color-footer: $white-light;
$icon-size-md: 80px;
$icon-size-xs: 16px;
$card-side-blank: 10px;