@import '../../dao-color.scss';
$dialog-header-bg-color: #f5f7fa;
$dialog-header-bg-img: linear-gradient(0deg, rgb(242,244,247) 0%, rgb(245,247,250) 100%);
$font-color: #3d444f;

.dao-dialog-header {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: $dialog-header-bg-color;
  background-image: $dialog-header-bg-img;
  border-radius: 4px 4px 0 0;
  box-shadow: inset 0 -1px 0  #e4e7ed;
  color: $font-color;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;

  .dao-close {
    display: flex;
    align-items: center;
    cursor: pointer;
    svg {
      width: 16px;
      height: 16px;
      fill: #aab2bd;
      &:hover {
        fill: #656d78;
      }
    }
  }
}
