// Toggles
//
// Used in conjunction with global variables to enable certain theme features.
@mixin box-shadow($shadow...) {
  @if $enable-shadows {
    box-shadow: $shadow;
  }
}

@mixin drop-shadow($shadow...) {
  @if $enable-shadows {
    filter: drop-shadow($shadow);
    // IE 10+
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      // fallback to box-shadow
      box-shadow: $shadow;
    }
  }
}


@mixin text-shadow($shadow...) {
  text-shadow: $shadow;
}

@mixin transition($transition...) {
  @if $enable-transitions {
    transition: $transition;
  }
}

@mixin box-sizing($box-sizing) {
  box-sizing: $box-sizing;
  & *,
  & *::before,
  & *::after {
    box-sizing: inherit;
  }
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

@mixin hover {
  @if $enable-hover-media-query {
    // See Media Queries Level 4: http://drafts.csswg.org/mediaqueries/#hover
    // Currently shimmed by https://github.com/twbs/mq4-hover-shim
    @media (hover: hover) {
      &:hover {
        @content
      }
    }
  }
  @else {
    &:hover {
      @content
    }
  }
}

@mixin hover-focus {
  @if $enable-hover-media-query {
    @include hover {
      @content
    }
    &:focus {
      @content
    }
  }
  @else {
    &:focus,
    &:hover {
      @content
    }
  }
}
