@mixin button-variant($color, $background, $border) {
  color: $color;
  border-color: $border;
  background-color: $background;
  background-image: linear-gradient(to top, rgba(255, 255, 255, .06) 0%, rgba(255, 255, 255, .06) 100%),
  linear-gradient(to top, rgba(map_get($generate-colors, 'darken'), .5) 0%,
  rgba(map_get($generate-colors, 'lighten'), .5) 100%);
  box-shadow: $btn-box-shadow;
  text-shadow: $btn-text-shadow;

  $generate-colors: generate-color($background);
  &:hover {
    background-image: linear-gradient(to top, rgba(map_get($generate-colors, 'darken'), .5) 0%,
    rgba(map_get($generate-colors, 'lighten'), .5) 100%);
  }
  &:active,
  &.active {
    background-image: none;
    box-shadow: $btn-active-box-shadow;
  }
}

@function generate-color($base-color) {
  @return (
  'lighten': lighten($base-color, 4),
  'base':$base-color,
  'border': desaturate(darken($base-color, 7), 11),
  'darken': desaturate(darken($base-color, 13), 7),
  );
}

@mixin text-shadow($shadow...) {
  text-shadow: $shadow;
}

@mixin box-sizing($box-sizing) {
  box-sizing: $box-sizing;
  & *,
  & *::before,
  & *::after {
    box-sizing: inherit;
  }
}

@mixin hover-focus {
  @if $enable-hover-media-query {
    @include hover {
      @content
    }
    &:focus {
      @content
    }
  }
  @else {
    &:focus,
    &:hover {
      @content
    }
  }
}

@mixin button-size($btn-padding-y, $btn-padding-x, $font-size-base, $line-height-base, $btn-border-radius-base) {
  font-size: $font-size-base;
  line-height: $line-height-base;

  padding: $btn-padding-y $btn-padding-x;

  border-radius: $btn-border-radius-base;
}

@mixin transition($transition...) {
  @if $enable-transitions {
    transition: $transition;
  }
}

@mixin tab-focus() {
  // WebKit-specific. Other browsers will keep their default outline style.
  // (Initially tried to also force default via `outline: initial`,
  // but that seems to erroneously remove the outline in Firefox altogether.)
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}


@mixin box-shadow($shadow...) {
  @if $enable-shadows {
    box-shadow: $shadow;
  }
}

@mixin clearfix() {
  &:before,
  &:after {
    display: table; // 2

    content: ' '; // 1
  }
  &:after {
    clear: both;
  }
}
