{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": [
          "Firefox >= 28",
          "Chrome >= 30",
          "IE >= 11",
          "Safari >= 10"
        ]
      }
    }],
    "stage-2"
  ],
  "plugins": ["transform-runtime"]
}
  