@import '../dao-color.scss';
.dao-infocard-container {
  border-radius: 3px;
  background-color: $white;
  border: solid 1px #d6dbe3;
  overflow: hidden;
  &.size-small {
    width: 300px;
    .dao-infocard-main {
      padding-bottom: 8px;
      padding: 0 15px;
      ul {
        padding: 10px 0;
        width: 270px;
        .dao-key-value {
          list-style: none;
          display: flex;
          width: 270px;
          .key {
            line-height: 26px;
            width: 115px;
            padding-right: 10px;
            font-size: 14px;
            text-align: right;
            color: $grey-dark;
          }
          .value {
            width: 155px;
            min-height: 26px;
            line-height: 26px;
            font-size: 14px;
            text-align: left;
            color: #3d444f;
            span {
              word-wrap: break-word;
              word-break: normal;
              display: inline-block;
              width: 145px;
            }
            .dot {
              display: inline-block;
              margin-bottom: 2px;
              width: 6px;
              height: 6px;
              border-radius: 50%;
              &.dot {
                background-color: #25d473;
                border: solid 1px #22c36a;
              }
              &.close {
                background-color: #ccd1d9;
                border: solid 1px #ccd1d9;
              }
            }
          }
        }
      }
      &>ul+ul {
        border-top: 1px solid $grey-light;
      }
    }
  }
  &.size-big {
    width: 610px;
    .dao-infocard-main {
      padding: 0 15px;
      ul {
        padding: 10px 0;
        .dao-key-value {
          list-style: none;
          display: flex;
          width: 580px;
          .key {
            width: 260px;
            height: 26px;
            line-height: 26px;
            padding-right: 10px;
            font-size: 14px;
            text-align: right;
            color: $grey-dark;
          }
          .value {
            width: 320px;
            min-height: 26px;
            line-height: 26px;
            font-size: 14px;
            text-align: left;
            color: #3d444f;
            word-wrap: break-word;
            span {
              word-wrap: break-word;
              word-break: normal;
              display: inline-block;
              width: 310px;
            }
            .dot {
              display: inline-block;
              margin-bottom: 2px;
              width: 6px;
              height: 6px;
              border-radius: 50%;
              &.dot {
                background-color: #25d473;
                border: solid 1px #22c36a;
              }
              &.close {
                background-color: #ccd1d9;
                border: solid 1px #ccd1d9;
              }
            }
          }
        }
      }
      .dao-table-wrapper {
        table {
          padding: 0 10px;
          thead {
            tr {
              th:nth-child(3) {
                flex: 0 0 80px;
              }
            }
          }
          tbody {
            tr {
              td:nth-child(3) {
                flex: 0 0 80px;
              }
            }
          }
        }
      }
    }
  }
}

.dao-card-header {
  box-sizing: border-box;
  height: 28px;
  background-color: #edf0f5;
  cursor: pointer;
  user-select: none;
  .icon {
    vertical-align: top;
    margin: 7px 0px 5px 7px;
    fill: #9ba3af;
    width:16px;
  }
  .title {
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    color: $black-light;
    height: 28px;
    line-height: 28px;
  }
}

.dao-infocard-main {
  border-top: solid 1px #d5dbe3;
  .dao-table-wrapper {
    padding: 15px 0px;
    table {
      border-collapse: collapse;
      border: solid 1px #d6dbe3;
      width: 100%;
      thead {
        width: 100%;
        border-bottom: solid 1px #d5dbe3;
        tr {
          width: 100%;
          display: flex;
          height: 30px;
          background-color: #edf0f5;
          padding-left: 10px;
          padding-right: 10px;
          th {
            height: 30px;
            line-height: 30px;
            flex: 1;
            font-size: 14px;
            color: $black-light;
            text-align: left;
            border-right: none;
            font-weight: normal;
          }
          th:nth-child(3) {
            flex: 0 0 60px;
          }
          th:nth-child(4) {
            flex: 0 0 45px;
          }
        }
      }
      tbody {
        width: 100%;
        tr {
          width: 100%;
          display: flex;
          height: 30px;
          padding-left: 10px;
          padding-right: 10px;
          td {
            flex: 1;
            font-size: 14px;
            padding: 8px 0 8px 0px;
            text-align: left;
            color: $black-dark;
            overflow: hidden;
            width:10px;
            text-overflow:ellipsis;
             white-space:nowrap;
          }
          &:nth-child(even) {
            background-color: #fff;
          }
          td:nth-child(3) {
            flex: 0 0 60px;
          }
          td:nth-child(4) {
            flex: 0 0 45px;
          }
        }
      }
    }
  }
  ul+.dao-table-wrapper {
    padding-top: 0px;
    margin-top: -5px;
  }
}
