@import '../dao-color.scss';
.dao-editable-table {
  .dao-table {
    border-radius: 0;
    th {
      height: 40px;
      + th {
        border-left: 1px solid $white-dark;
      }
    }
  }
}
.dao-table .det-edit-col {
  min-width: 56px;
  flex: 0 0 auto;
  svg {
    // 其实 icon 已经垂直居中了，但是由于 td 没有上边框，只有下边框，所以看起来上面会大1px
    transform: translateY(-1px);
  }
}
.dao-table + .det-add {
  margin-top: 12px;
}
.det-tr {
  &.activate {
    background: #FFFCED;
    .det-input input{
      background: #FFFCED;
    }
  }
}
.det-td {
  overflow: visible !important;
  input[type="checkbox"] {
    // 其实 checkbox 已经垂直居中了，但是由于 td 没有上边框，只有下边框，所以看起来上面会大1px
    transform: translateY(-1px);
  }
}
.det-add {
  display: inline-block;
  color: $blue;
  cursor: pointer;
}
.det-add-btn {
  fill: currentColor;
  height: 16px;
  width: 16px;
  vertical-align: middle;
}
.det-add-span {
  vertical-align: middle;
}
svg.det-remove-btn {
  fill: $grey-light;
  cursor: pointer;
}
.det-input.dao-input-container {
  .icon {
    top: -2px !important;
    right: 5px;
  }
  input {
    vertical-align: baseline;
  }
 }
.det-select {
  width: 100% !important;
  display: inline-block;
  vertical-align: middle;
  // 其实 select 已经垂直居中了，但是由于 td 没有上边框，只有下边框，所以看起来上面会大1px
  transform: translateY(-1px);
  .dao-select-main {
    display: block !important;
  }
}