@import '../dao-color.scss';

$radio-font-color: #3d444f;
$radio-font-disable-color: #9ba3af;
$radio-font-size: 14px;
$radio-item-margin: 10px;
$radio-height: 24px;
$border-color: #e4e7ed;
$radio-block-hover: rgba(245,247,250, .8);
$radio-block-active: #f0f7ff;
$radio-block-headline-color: #3d444f;
$radio-block-description-color: #9ba3af;
$border-radius: 4px;
$blue: #3890ff;
$link-color: #217ef2;
