<div class="dao-list-container">
  <div class="dao-list-main">
    <div class="dao-list-topbar">
      <dao-input-with-label 
        class="dao-list-filter"
        v-model="filterTextRaw"
        @keydown.enter="filterText = filterTextRaw"
        size="sm"
        :placeholder="`搜索${tableName}`"
        :options="filterOptions"
        >
      </dao-input-with-label>
      <div class="dao-list-pagination">
        <span class="counts">共 {{allRowsNumber}} 个 {{tableName}}</span>
        <span class="counts" v-show="checkedRowsNumber > 0">
          ，已选中 {{checkedRowsNumber}} 个 {{tableName}}
        </span>
        <div class="pagination">
          <svg :class="{disabled: page === 0}" @click="prevPage">
            <use xlink:href="#icon_caret-left"></use>
          </svg>
          <span class="page" v-show="page > 2" @click="goToPage(0)">1</span><!--
       --><span class="page disabled" v-show="page > 2">...</span><!--
       --><span class="page" :class="{active: page == p}" v-for="p in pages" @click="goToPage(p)">{{p + 1}}</span><!--
       --><span class="page disabled" v-show="page < pagesNumber - 3">...</span>
          <svg :class="{disabled: page === pagesNumber - 1}" @click="nextPage">
            <use xlink:href="#icon_caret-right"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="dao-list-scrolldiv">
      <table class="dao-list flexrow">
        <thead>
          <tr>
            <th class="checkbox">
              <input type="checkbox" class="round"
                :class="{'half-check': isAllChecked === 'partial'}"
                :checked="isAllChecked === 'yes'"
                @click.prevent="checkPage()">
              <check-all
                :currentRowsNumber="currentRowsNumber"
                :allRowsNumber="allRowsNumber"
                :checkedRowsNumber="checkedRowsNumber"
                @check-page="checkPage(true)"
                @check-all="checkAll(true)"
                @uncheck-all="checkAll(false)">
              </check-all>
            </th>
            <th v-for="c in columnsOrder" @click="changeSortBy(c)">
              <span>{{columns[c].text}}</span>
              <svg class="sort-arrow" v-if="sortingConfig.sortBy === c" v-show="sortingConfig.order === 'desc'">
                <use xlink:href="#icon_down-arrow"></use>
              </svg>
              <svg class="sort-arrow" v-if="sortingConfig.sortBy === c" v-show="sortingConfig.order === 'asc'">
                <use xlink:href="#icon_up-arrow"></use>
              </svg>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr :class="{checked: r.$checked}" v-for="r in currentRows" @click="click(r, $event)">
            <td class="checkbox"><input type="checkbox" class="round" :checked="r.$checked"></td>
            <td v-for="c in columnsOrder">{{r[c].text}}</td>
            <operation-td :row="r" :operations="operations"></operation-td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>