@import '../dao-color.scss';

.dao-dialog-backdrop {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;

  display: table;

  width: 100%;
  height: 100%;

  transition: opacity .3s ease;

  background-color: rgba(31, 33, 38, .3);
}

.dao-dialog-wrapper {
  display: table-cell;

  vertical-align: middle;
}

.dao-dialog-container {
  display: flex;
  overflow: auto;
  flex-direction: column;

  width: 600px;
  max-height: calc(100% - 100px);
  margin: 0 auto;

  transition: all .3s ease;

  border-radius: 4px;
  background-color: $white;
  box-shadow: 0 3px 30px 0 rgba(0, 0, 0, .2);
  &.dao-dialog-lg {
    width: 900px;
  }
}

.dao-dialog-header {
  padding: 12px 20px;

  border-bottom: 1px solid $white-dark;
  background-image:    -moz-linear-gradient( 90deg, #f2f4f7 0%, $white-light 100%);
  background-image: -webkit-linear-gradient( 90deg, #f2f4f7 0%, $white-light 100%);
  background-image:     -ms-linear-gradient( 90deg, #f2f4f7 0%, $white-light 100%);
  box-shadow: inset 0 1px 0 0 rgba($white, .6);

  flex: 0 0 auto;
  h3 {
    font-size: 18px;
    font-weight: normal;
    line-height: 26px;

    margin: 0;

    color: $black-dark;
  }
}

.dao-dialog-body {
  overflow: auto;

  flex: 0 1 auto;
}

.dao-dialog-footer {
  padding: 9px 20px;

  text-align: right;

  border-top: 1px solid $white-dark;
  background-color: $white-light;

  flex: 0 0 auto;
}

/*
 * The following styles are auto-applied to elements with
 * transition="dao-dialog" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the dao-dialog transition by editing
 * these styles.
 */

.dao-dialog-enter {
  opacity: 0;
}

.dao-dialog-leave-active {
  opacity: 0;
}

.dao-dialog-enter .dao-dialog-container {
  transform: translate(0, -25%);
  transition: transform .3s ease-out;
}

.dao-dialog-leave-active .dao-dialog-container {
  transform: translate(0, 0);
}
