* {
  box-sizing: border-box;
}

article,
aside,
blockquote,
body,
button,
dd,
details,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
input,
legend,
li,
menu,
nav,
ol,
p,
section,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}

svg.icon {
  display: inline-block;

  width: 16px;
  height: 16px;

  vertical-align: middle;

  fill: currentColor;
  & + .text {
    display: inline-block;

    vertical-align: middle;
  }
}
