@import "../dao-color.scss";

$font-color-dark: $black-dark;
$font-color-light: $grey-dark;
$font-size-md: 14px;
$font-size-sm: 12px;
$line-height-md: 24px;
$line-height-sm: 22px;
$line-height-xs: 20px;
$line-height-xxs: 18px;
$border: 1px solid $white-dark;
$border-radius-card-size: 4px;
$border-radius-icon-size: 3px;
$background-color-body: $white;
$background-color-footer: $white-light;
$icon-size-md: 80px;
$icon-size-xs: 16px;
$card-side-blank: 10px;

$screen-xs: 480px !default;
$screen-xs-min: $screen-xs !default;
$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;
$screen-md: 992px !default;
$screen-md-min: $screen-md !default;
$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;

// 在 dao-card 的 mixin 中使用
$media-size-array: (0, $screen-xs-min - 1),
                   ($screen-xs-min, $screen-xs-max),
                   ($screen-sm-min, $screen-sm-max),
                   ($screen-md-min, $screen-md-max),
                   ($screen-lg-min, $screen-lg-min + 399),
                   ($screen-lg-min + 400, 'none');

$offset-name: '.offset-';
$offset-sizes: ($offset-name + 'xs': 60px + 20,
               $offset-name + 'sm': 200px + 80,
               $offset-name + 'md': 400px + 100,
               $offset-name + 'lg': 600px + 120);
