@import "../dao-color.scss";

.dao-file-input {
  .input-wrap{
    width: 287px;
    height: 32px;
    background-color: #fff;
    border: 1px solid $grey-light;
    border-radius: 2px;
    padding: 3px 3px 3px 9px;
    display: flex;
    justify-content: space-between;
    span.flex-content {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    &.selection{
      color: $grey-dark;
      .btn-sm{
        height: 24px;
        line-height: 22px;
      }
    }
    &.selected {
      color: $black-dark;
      span.file-name-wrap {
        margin-left: 6px;
        text-align: left;
        width: calc(100% - 66px);
        &>div{
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .icon{
        fill: $grey-dark;
        &.operate{
          margin: 0px 4px 0px 10px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
  input{
    display: none;
  }
}